<!doctype html>
<html lang='en'>

<body style="overflow: scroll">
	<div>
		<header-directive></header-directive>
		<!-- For super Admin-->
		<sa-sidebar-directive ng-if="user.user_role_id == 1"></sa-sidebar-directive>
		
		<!-- For sales team-->
		<st-sidebar-directive ng-if="user.user_role_id == 2"></st-sidebar-directive>
		
		<!-- For manufacturer-->
		<wa-sidebar-directive ng-if="user.user_role_id == 3"></wa-sidebar-directive>
		
		<!-- For reseller -->
		<war-sidebar-directive ng-if="user.user_role_id == 4"></war-sidebar-directive>
		
		<!-- For technician -->
		<tc-sidebar-directive ng-if="user.user_role_id == 5"></tc-sidebar-directive>

		<div id="wrapper">
			<div id="page-wrapper" style="min-height: 561px;">
				<div ui-view></div>
			</div>
		</div>
	</div>

</body>
</html>




